<h1>Product Management</h1>
<table class="table table-striped" id="productsTable" [dtOptions]="dtOptions" datatable>
    <thead>
        <tr>
            <th scope="col" *ngFor="let col of columns">
                {{ col }}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <th>{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td> <img src="{{ product.image }}" alt="{{ product.name }}" style="width: 100px; height: 100px;"></td>
            <td style="text-align: center;">{{ product.keyNo }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency: 'VND': '' }} VND</td>
            <td>
                <a class="btn btn-info" style="margin-right: 3px;"><i
                    class="far fa-eye"></i></a>
            <a class="btn btn-warning" (click)="editButtonClick(product.id)"  style="margin-right: 3px;"><i
                    class="far fa-edit"></i></a>
            <a class="btn btn-danger" style="margin-right: 3px;" (click)="onDelete(product.id)"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        
    </tbody>
</table>