<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Insert User Page</h3>
            <hr>
            <form [formGroup]="insertUserForm" (ngSubmit)="onSubmit()">
                <!-- <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" formControlName="id">
                    <span *ngIf="id!.invalid && id!.touched" [ngStyle]="{'color': 'red'}">ID is required </span>
                </div> -->

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                    <span *ngIf="userSubmit.username!.invalid && userSubmit.username!.touched"
                        [ngStyle]="{'color': 'red'}">Username is
                        required </span>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div *ngIf="(userSubmit.email!.invalid && userSubmit.email!.touched) || userSubmit.email!.dirty">
                        <span *ngIf="userSubmit.email.errors?.required" [ngStyle]="{'color': 'red'}">Email is
                            required</span>
                        <span *ngIf="userSubmit.email.errors?.pattern" [ngStyle]="{'color': 'red'}">Email is
                            invalid</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" formControlName="fullname">
                    <span *ngIf="userSubmit.fullname!.invalid && userSubmit.fullname!.touched"
                        [ngStyle]="{'color': 'red'}">Fullname is
                        required </span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <div
                        *ngIf="(userSubmit.password!.invalid && userSubmit.password!.touched) || userSubmit.password!.dirty">
                        <span *ngIf="userSubmit.password.errors?.required"
                            [ngStyle]="{'color': 'red'}">Password is
                            required </span>
                        <span *ngIf="userSubmit.password.errors?.minlength" [ngStyle]="{'color': 'red'}">Password must
                            be at least 6 characters long</span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                    <span *ngIf="userSubmit.phoneNumber!.invalid && userSubmit.phoneNumber!.touched"
                        [ngStyle]="{'color': 'red'}">Phone number
                        is required </span>
                </div>

                <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input type="date" class="form-control" id="dob" formControlName="dob">
                    <span *ngIf="userSubmit.dob!.invalid && userSubmit.dob!.touched" [ngStyle]="{'color': 'red'}">Date
                        of birth
                        is required </span>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Select your gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="option1" disabled>Options are below</mat-option>
                        <mat-option value="0">Female</mat-option>
                        <mat-option value="1">Male</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-radio-group aria-label="Select an option" formControlName="status">
                    <mat-radio-button value="avtivated">Avtivated</mat-radio-button>
                    <mat-radio-button value="deactivated">Deactivated</mat-radio-button>
                </mat-radio-group>



                <button type="submit" class="btn btn-primary" [disabled]="!insertUserForm.valid"
                    style="margin-top: 1em;">Submit</button>
            </form>
        </div>
    </div>
</div>