<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authenticationService.isAuthenticated">
  <a class="navbar-brand" href="#">Admin Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: absolute;    
    right:20px; ">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link">Xin chào {{ username }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>

    </ul>

  </div>
</nav>