.list-group-item {
    color: #000;
    text-decoration: none;
    transition: all 0.3 ease;
    text-align: center;
}

.list-group-item:hover {
    background-color: #0984e3;
    color: #fff;
}

.active {
    background-color: #0984e3;
    color: #fff;
  }