<!-- <div class="container-fluid">
    <div class="row"> -->
<!-- <div class="col-md-6">
            <app-admin-added-page (submitUser)="addUser($event)"></app-admin-added-page>
        </div> -->
<!-- <div class="col-md-2">
            <app-admin-dashboard></app-admin-dashboard>
        </div> -->


<!-- </div>
</div> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" position="start">
        <div class="" id="sidebar-wrapper">
            <div class="list-group">
                <a href="#" class="list-group-item"><i class="fas fa-users" style="float: left;"></i> User Management
                </a>
                <a href="#" class="list-group-item"><i class="fas fa-tachometer-alt" style="float: left;"></i> Dashboard
                </a>
                <a href="#" class="list-group-item"><i class="fas fa-question" style="float: left;"></i> Q && A </a>
                <a href="#" class="list-group-item"><i class="fas fa-phone" style="float: left;"></i> Contact </a>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav #insertUser mode="push" [(opened)]="openedInsertUser" position="end" id="insert-user"> 
        <app-admin-added-page (submitUser)="addUser($event)"></app-admin-added-page>
    </mat-sidenav>

    <!-- <mat-sidenav #editUser mode="push" [(opened)]="openedEditUser" position="end" id="edit-user"> 
        <app-admin-edit-page></app-admin-edit-page>
    </mat-sidenav> -->

    <mat-sidenav-content>
        <div class="button-area">
            <button class="btn btn-primary" (click)="sidenav.toggle()">Sidebar <i
                    class="fas fa-align-right"></i></button>

            <button class="btn btn-success" (click)="insertUser.open()">Add user <i class="fas fa-plus"></i></button>
        </div>

        <app-admin-table [users]="userList"></app-admin-table>
    </mat-sidenav-content>
</mat-sidenav-container>