mat-sidenav-container {
    height: 100%;
    /* overflow: hidden; */
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
    /* overflow: hidden; */
}

mat-sidenav {
    background-color: lightcoral;
    width: 250px;
}

mat-sidenav#insert-product {
    width: 320px;
}