<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-bottom: 15px;">
                    <mat-card-title>Login Page</mat-card-title>
                </div>
                <mat-card-content>
                    <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                        Invalid user or password
                    </div>
                    <form [formGroup]="signInForm">
                        <div class="mb-3">
                            <label for="email" class="form-label"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger">
                                <div *ngIf="email!.errors?.required">
                                    Email is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label"><strong>Password</strong></label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                required>
                            <div *ngIf="password!.invalid && (password!.dirty || password!.touched)"
                                class="alert alert-danger">
                                <div *ngIf="password!.errors?.required">
                                    Password is required.
                                </div>
                                <div *ngIf="password!.errors?.minlength">
                                    Password must be at least 6 characters long.
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid"
                            (click)="onLoginClick()">Submit</button>

                    </form>
                </mat-card-content>

            </div>
        </div>
    </div>
</div>